<div class="container">
  <div *ngIf="!currentWeather" fxLayoutAlign="center center" style="width: 100%; margin-top: 200;">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="currentWeather" class="current-weather" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout ="row wrap" fxLayoutAlign="space-between center" class="current-info">
      <span fxFlex>
        <span style="font-weight: 500;">Wind: </span>{{ currentWeather.wind_speed }} m/s
      </span>
      <span fxFlex>
        <span style="font-weight: 500;">Humidity: </span>{{ currentWeather.humidity }}%
      </span>
      <span fxFlex>
        <span style="font-weight: 500;">Pressure: </span>{{ currentWeather.pressure }} hPa
      </span>
      <span fxFlex>
        <span style="font-weight: 500;">Visibility: </span>{{ currentWeather.visibility }} mts
      </span>
      <span fxFlex>
        <span style="font-weight: 500;">UV Index: </span>{{ currentWeather.uvi }}
      </span>
    </div>

    <div fxLayoutAlign="center center">
      <div fxFlex style="text-align: right;">
        <img [src]="weatherService.getIconUrl(currentWeather.weather[0].icon, '@4x')">
      </div>
  
      <div fxFlex>
        <div style="text-align: center; display: inline-block;">
          <h3 style="font-weight: bold;">
            {{ currentWeather.temp }}°C {{ currentWeather.weather[0].main }}
          </h3>
          <p style="font-style: italic;">{{ currentWeather.weather[0].description }}</p>
          <p><span style="font-weight: bold;">Feels like: </span>{{ currentWeather.feels_like }}°C</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hourly-weather" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <mat-card *ngFor="let hourly of hourlyWeather" class="hourly-card">
      <img mat-card-image [src]="weatherService.getIconUrl(hourly.weather[0].icon, '@2x')">
      <mat-card-content>
        <p>{{ hourly.temp }}°C</p>
        <p>{{ unixToDate(hourly.dt) | date:'EEE' }}</p>
        <p>{{ unixToDate(hourly.dt) | date:'h:mm a' }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="daily-weather" fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card *ngFor="let daily of dailyWeather" class="daily-card">
      <img mat-card-image [src]="weatherService.getIconUrl(daily.weather[0].icon, '@4x')"
        style="margin-bottom: 0;">
      <mat-card-content style="text-align: center;">
        <h3 style="font-weight: 600;">{{ unixToDate(daily.dt) | date:'EEEE' }}</h3>
        <h5 style="font-style: italic;">{{ daily.weather[0].description }}</h5>
      </mat-card-content>
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip selected="true" class="chip">
            min: {{ daily.temp.min }}°C
          </mat-chip>
          <mat-chip selected="true" color="primary" class="chip">
            max: {{ daily.temp.max }}°C
          </mat-chip>
          <mat-chip matTooltip="Pressure" selected="true" color="primary" class="chip">
            {{ daily.pressure }} hPa
          </mat-chip>
          <mat-chip matTooltip="Humidity" selected="true" color="primary" class="chip">
            {{ daily.humidity }}%
          </mat-chip>
          <mat-chip matTooltip="Wind speed" selected="true" color="primary" class="chip">
            {{ daily.wind_speed }} m/s
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="footer">
    <p>Made by: Edhy Santiago Marín  | <i class="far fa-copyright"></i> 2020</p>
  </div>
</div>