<div fxLayout="row" fxLayoutAlign="center center">
<form  class="example-form" (ngSubmit)="selectedOption()" style="width: 100%;">
  <span class="main-title">Weather Forecast</span>

  <mat-form-field class="">
    <input type="text"
           placeholder="Select a place"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option.name" (click)="selectedOption()">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button type="submit" class="fas fa-search-location fa-lg"></button>
</form>
</div>