$font-color: #0800A1;

.container {
  padding: 15px 20px;
  background-color: #b6cefab0;
}

.search-form {
  width: 100%;
  text-align: center;
}

.main-title {
  font-family: 'Rowdies', cursive;
  font-size: xx-large;
  margin-right: 20px;
  color: $font-color;
}

.button-search {
  font-size: large;
}

.divider {
  width: 100%;
  margin-bottom: 10px;
  margin-top: -15px;
}