<div fxLayout="row" fxLayoutAlign="center center" class="container">
<form fxFlex class="search-form" (ngSubmit)="selectedOption()" style="width: 100%;">
  <span class="main-title">Weather Forecast</span>

  <mat-form-field style="width: 30%;" appearance="standard">
    <mat-label>Select a place</mat-label>
    <input type="text"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <button mat-icon-button *ngIf="myControl.value" matSuffix (click)="myControl.patchValue('')">
      <i class="fas fa-times"></i>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option.name" (click)="selectedOption()">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-icon-button type="submit" class="button-search">
    <i class="fas fa-search-location fa-lg"></i>
  </button>
</form>
</div>
<mat-divider class="divider"></mat-divider>