.container {
  margin: 15px 20px;
}

.search-form {
  width: 100%;
  text-align: center;
}

.main-title {
  font-family: 'Rowdies', cursive;
  font-size: xx-large;
  margin-right: 20px;
}

.button-search {
  font-size: large;
}